.Container {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(
    108deg,
    rgba(255, 94, 77, 1) 0%,
    rgba(255, 179, 71, 1) 100%
);
}

.FormWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Icon {
    margin-left: 32px;
    margin-top: 32px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;
}
    
.FormContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AdminHeader {
    margin-bottom: 40px;
    text-align: center;
    color: black;
}

.FormButton {
    background: black;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    width: 300px;
}

.ButtonWrapper {
    margin-top: 20px;
}

* {
    font-family: "Encode Sans Expanded", sans-serif;
}

@media screen and (max-width: 480px) {
    .Icon {
        margin-left: 16px;
        margin-top: 8px;
    }
    .FormContent {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .FormWrap {
        height: 80%;
    }
    .FormContent {
        padding: 16px;
    }
}
