.Container {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(
        108deg,
        rgba(255, 94, 77, 1) 0%,
        rgba(255, 179, 71, 1) 100% 
    );
}

.FormWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Icon {
    margin-left: 32px;
    margin-top: 32px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;
}

.FormContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form {
    background: #010101;
    max-width: 500px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.FormH1 {
    margin-bottom: 40px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

.FormLabel {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: normal;
}

.FormInput {
    padding: 16px 16px;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
    width: 95%;
}

.FormButton {
    background: #f09100;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    width: 35%;
}

.FormRow {
    display: flex;
    justify-content: space-between;
}

.FormInputWrapper {
    flex: 1;
    margin-right: 10px;
}

button {
    justify-self: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}


* {
    font-family: "Encode Sans Expanded", sans-serif;
}

@media screen and (max-width: 480px) {
    .Icon {
        margin-left: 16px;
        margin-top: 8px;
    }
    .FormContent {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .FormWrap {
        height: 80%;
    }
    .Form {
        padding: 32px 32px;
    }
}
